.menu1 {
	display: none;
}

li:hover > .menu1 {
	display: block;
} 

.menu2 {
	display: none;
}

li:hover > .menu2 {
	display: block;
} 
form {
	display: none;
}
form:target {
	display:block;
	position:absolute;
	top: 0px;
	left: 0px;
	bottom: 200px;
	right: 200px;
	background: red;
}	